body{ 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0E0E0;

  font-family: 'Roboto', sans-serif;
}

.grid{
  display: grid;
  grid-template-columns: 2fr .2vw .4fr;

  width: 100%;
  height: 100%;
}

.content-container{
  float: left;
  display: block;

  height: 100%;

  background-color: #FFFFFF;

  overflow: auto;
}

.content{
  margin: 2%;

  font-size: 18px;
}

.content img{
  display: block;
  margin: 0 auto;

  width: 30em;
}
.content p{
  text-align: center;
}

.divider{
  float: left;
  display: block;
  bottom: 4px;

  height: 100%;

  z-index: 10;
}

.hor-divider{
  display: block;
  width: 70%;
  height: .2vh;

  margin: 0 auto;

  margin-bottom: 5%;
  
  background-color: black;
}

.nav{
  display: grid;

  height: 100%;
  background-color: #E0E0E0;

  margin: 0 5% 0 5%;
  overflow: hidden;

  grid-template-rows: .4fr .1fr 4fr .5fr;
}

.title .navlinks .social{
  display: block;

  background-color: red;
}
.title{
  /**/
}

.title p{
  text-align: center;

  padding: 2vh 0 2vh 0;
  font-size: 2vw;
}

.navlinks a{
  display: block;

  text-align: center;
  font-size: 3vh;
  text-decoration: none;
  color: black;

  padding-top: 1vh;
  padding-bottom: 1vh;

  width: 100%;
  height: 3vh;
}
.navlinks a:hover{color: #800080;}
.social-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.social img{
  display: block;
  float: left;

  height:4vh;

  padding: 1vw;
}

.social img:hover{
  filter: invert(11%) sepia(100%) saturate(5555%) hue-rotate(296deg) brightness(65%) contrast(106%);
  cursor: pointer;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}