body{ 
 margin: 0;
 padding: 0;
 overflow: hidden;

 background-image: url("media/backg_pattern.png");
 background-color: #000000;
}

.centerVert{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerHoriz{
  position: absolute;
  left: 50%;
}

.container{
  display: block;

  width: 40%;
  height: 50%;

  background-color: rgb(0, 0, 0);
}

.social{
  display: block;

  background-color: rgb(0,0,0);
  width: 40%;
  height: 48px;

  position: absolute;
  bottom: 10px;
}